.App-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: lightgray;
}

header,
main,
footer {
  display: flex;
  justify-content: center;
}

.App-view-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.App-customer-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.App-manager-view {
  display: flex;
  flex-direction: column;
}

.App-restaurant-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-restaurant-list,
.App-current-order {
  flex: 1;
  margin: 40px;
}

.App-menu-items {
  flex: 2;
}

.App-menu-item-table {
  /* change this if we remove the top bar */
  max-height: 75vh;
  overflow-y: auto;
}

.App-current-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-view-buttons,
.App-manager-table-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.App-select-manager,
.App-restaurant-name,
.App-manager-order-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-restaurant-cards {
  display: flex;
  flex-direction: column;
  /* change this if we remove the top bar */
  height: 70vh;
  overflow-y: scroll;
}

.App-manager-restaurant-name {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 10px;
}

.bootstrap-table .custom-header th {
  background-color: rgb(108, 108, 108);
  color: white;
}
