::-webkit-scrollbar {
  display: none;
}

.App-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: lightgray;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-view-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}

.App-restaurant-list,
.App-menu-items,
.App-current-order {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App-restaurant-list,
.App-current-order {
  flex: 1;
  margin: 40px;
}

.App-menu-items {
  flex: 2;
}

.App-menu-list {
  /* change this if we remove the top bar */
  height: 75vh;
  overflow-y: scroll;
}

.App-current-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-order-table {
  /* change this if we remove the top bar */
  height: 75vh;
}

.App-view-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.App-view-buttons button {
  border-radius: 10px;
}

.App-select-manager,
.App-restaurant-name,
.App-manager-order-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bootstrap-table .custom-header th {
  background-color: rgb(108, 108, 108);
  color: white;
}

.App-restaurant-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* change this if we remove the top bar */
  height: 70vh;
  overflow-y: scroll;
}
