.App-wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
  background-color: lightgray;
}

header, footer {
  display: flex;
  justify-content: center;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}

.App-restaurant-list,
.App-menu-items,
.App-current-order {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 20px; */
}

.App-restaurant-list,
.App-current-order {
  flex: 1;
  margin: 40px;
}

.App-menu-items {
  flex: 2;
}

.App-view-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

button {
  border-radius: 10px;
}