.subtotal-checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previous-orders-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.order-backdrop {
  background-color: lightgray;
}

.cart-table {
  /* change this if we remove the top bar */
  height: 60vh;
  overflow-y: scroll;
  text-align: center;
}
