.current-order-cart-table {
  height: 66vh;
  overflow-y: auto;
  padding-bottom: 20px;
}

.subtotal-checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.previous-orders-button {
  margin-top: 20px;
}

.order-backdrop {
  background-color: lightgray;
}
